.RoundBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

#btn {
  background-color: #CC8B65; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}