.GameBtn {
  text-align: center;
}

.GameBtns {
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#add {
  background-color: black;
  color: white;
  border: none;
}

#strike {
  background-color: red;
  color: white;
  border: none;
}