@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
* {
  background-color: #013328;
}

.App {
  background-color: #013328;
  color: #e3dcd2;
  font-family: "Exo 2";
  margin: 0px;
}
