.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.NavLink {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 20px;
}

.NavLink:hover {
  color: gold;
}

.NavHome {
  text-decoration: none;
  background-color: black;
  color: #cc8b65;
  padding: 20px;
}

.NavHome:hover {
  color: gold;
}

#divide {
  background-color: black;
  color: #013328;
}

