ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  background-color: #333;
}

li a:hover {
  background-color: #ffd700;
}

.title {
  text-decoration: none;
  color: #fff;
  font-size: 2.5em;
  position: absolute;
  top: 10px;
  left: 25px;
  width: 500px;
  height: 50px;
  font-family: "Nabla", cursive;
  background-color: #333;
}
